body{
    background: #fff;
}
.top-section {
    min-height: 100px;
    padding-top:20px;
}
.top-section ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
}

/*start top menu*/
    nav{
        padding-top: 25px;
    }
    nav ul li{
        display: inline-block;
    }
    nav a{
        color: #424241;
        font-size: 1.7em;
    }
    nav ul li:nth-child(2){
        padding-left:15px;
        padding-right: 15px;
    }
/*end top menu*/
.top-phone-section {
    padding-top: 18px;
}
.feed-back-m{
    margin-top: 10px;
    background: #008b9e;
    width: 135px;
    height: 33px;
    border: none;
    color: #fff;
}
.top-phone-section strong{
    font-size: 1.2em;
    color: #424241;
}
/*start slider component*/
.slider-container{
    height: 350px;
    width: 100%;
    position: relative;
}
.swiper-container {
        width: 100%;
        height: 350px;
    }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slide-head {
    background: #ccc none repeat scroll 0 0;
    left: 30%;
    position: absolute;
    top: 20px;
}
.see-detail {
    background: #ccc none repeat scroll 0 0;
    color: #fff;
    position: absolute;
    right: 28%;
}
/*end slider component*/